<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Detalle de la oferta de trabajo</h1>
	
	<!--la expresion haxe reefernecia a un atributo llamado vacante
	y nombre es una propiedad de ese obj -->
	<h3 th:text=" 'Nombre: '+ ${vacante.nombre}"></h3>
	<h3 th:text=" 'Descripcion: '+ ${vacante.descripcion}"></h3>
	<h3 th:text=" 'Fecha Publicacion: '+ ${vacante.fecha}"></h3>
	<h3 th:text=" 'Salario: '+ ${vacante.salario}"></h3>
	

</body>
</html>