<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Empleos App</title>
  
</head>
<body>
  <!--
  <h1 th:text="${mensaje}">Bienvenidos a Empleos </h1>
  <h2> hoy es [[${fecha}]]</h2>-->
  <h1>Bienvenidos</h1>
  <h2>Oferta de trabajo</h2>
  <h3 th:text=" 'Titulo:'+ ${nombre}"></h3>
  <h3 th:text=" 'Fecha Pub:'+ ${fecha}"></h3>
  <h3 th:text=" 'Salario ofrecido:'+ ${salario}"></h3>
  <h3 th:text=" 'Vigente:'+ ${vigente}"></h3>
</body>
</html>
